@import "settings";

#banner {
  position: relative;
  z-index: 0;
  overflow: auto;
  height: $banner-height;
  width: 100% !important;
}

#banner-content {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 32px;
  color: black;
}

#banner-content > li > p {
   width: $width;
   margin: 0 auto;
   position: relative;
}

#banner-content > li {
  height: $banner-height;
  float: left;
  width: 100%;
}

/* DOTS */
#banner .dots {
  position: absolute;
  bottom: 10px;
  margin: 0;
  text-align: center;
  width: 100% !important;
  padding: 0;
}

#banner .dots > li {
  /* see http://uncorkedstudios.com/2011/12/12/how-to-fix-the-ie7-and-inline-block-css-bug/ */
  display: inline-block;
  zoom: 1;
  *display: inline;
  padding: 0;
  margin: 0;
}


/* PREVIOUS / NEXT */
#banner-controls {
  width: $width + 60px;
  margin: 0 auto;
  height: 0;
}

#banner-next, #banner-previous {
  float: left;
  position: relative;
  top: -($banner-height + 30) / 2;
  width: 19px;
  height: 30px;
  border: 0;
  background: url(../images/sprites/banner-arrow-left.png) center 0 no-repeat;
  overflow: hidden;
  text-indent: -1000px;
}

#banner-next {
  float: right;
  left: 0;
  background: url(../images/sprites/banner-arrow-right.png) center 0 no-repeat;
}


/* Background images slide */
#slide-quartiers-lointains { 
  background: url(../images/logo_ql-big.jpg) center 0 no-repeat rgba(0, 0, 0,0.1); 
  p {
    top: 335px;
    left: 550px;
  }
}

#slide-totheoneilove { 
  background: url(../images/movies/totheoneilove.jpg) center 0 no-repeat rgba(0, 0, 0,0.1); 
  p {
    top: 20px;
    left: 350px;
  }
}

#slide-offrande { 
  background: url(../images/movies/offrande.jpg) center 0 no-repeat rgba(0, 0, 0,0.1);
  p {
    top: 335px;
    left: 240px;
  }
}
#slide-dina { 
  background: url(../images/movies/dina.jpg) center 0 no-repeat rgba(0, 0, 0,0.1); 
  p {
    top: 20px;
    left: 320px;
  }
}
#slide-twaaga { 
  background: url(../images/movies/twaaga.jpg) center 0 no-repeat rgba(0, 0, 0,0.1); 
  p {
    top: 335px;
    left: 550px;
  }
}




