<div class="banner">
    <ul id="banner-content">
        <li id="slide-quartiers-lointains">
            <p>
                Bientôt ...
            </p>
        </li>
        <li id="slide-totheoneilove">
        </li>
        <li id="slide-offrande">
        </li>
        <li id="slide-dina">
        </li>
        <li id="slide-twaaga">
        </li>
    </ul>

    <div id="banner-controls-wrapper">
        <div id="banner-controls">
            <button id="banner-next">Next</button>
            <button id="banner-previous">Previous</button>
        </div>
    </div>
</div> <!-- Banner -->