<div class="row"> 
    <a id="contacts"><h1>CONTACTS </h1></a>
    <div id="contact-info" class="center-justified">
        <h3>Par e-mail : </h3>
        <p>diffusion@quartiers-lointains.com</p>
        <h3>Programmation</h3>

        <img src="images/people/claire-diao.jpg" class="people-picture"/>
        <p>Journaliste franco-burkinab&egrave; sp&eacute;cialis&eacute;e dans la valorisation des cin&eacute;mas d'Afrique et des talents &eacute;mergents des banlieues fran&ccedil;aises, Claire Diao collabore avec le <a href="http://www.bondyblog.fr/" target="blank">Bondy Blog</a>, <a href="http://www.screenafrica.com/" target="_blank">Screen Africa</a>, <a href="http://www.sofilm.fr/" target="blank">SoFilm</a>, <a href="http://www.afriquemagazine.com/" target="blank">Afrique Magazine</a>, <a href="http://www.imagesfrancophones.org/" target="blank">Images Francophones</a> et <a href="http://www.afriscope.fr/" target="blank">Afriscope</a>.</p>
        <p>Depuis 2012, elle anime le blog <a href="http://weloveafricanfilms.blogs.courrierinternational.com/" target="blank"> "L'Afrique en films"</a> sur le site du Courrier International.</p>
        <div style="clear:both;"></div>

        <h3>Equipe</h3>
        <p>
            <ul>
                <li><a href="http://www.acrymx.com/fr/accueil.html">Acrymx</a> ( Logo )</li>
                <li><a href="http://www.linkedin.com/pub/antoine-claval/16/568/804"> Antoine Claval </a> ( Site Web )</li>
                <li><a href="http://www.camillegeoffray.fr/Camille_Geoffray/Camille_Geoffray.html">Camille Geoffray</a> ( Bande Annonce )  </li>
            </ul>
        </p>
        <h3>Le parrain</h3>
        <img src="images/people/alain-gomis.jpg" class="people-picture"/>
        <p>Cin&eacute;aste franco-s&eacute;n&eacute;galais, Alain Gomis s'est fait connaître avec ses longs-m&eacute;trages L'Afrance (L&eacute;opard d'argent <a href="http://www.pardolive.ch/">Festival de Locarno</a> 2001), Andalucia (Prix d'interpr&eacute;tation, <a href="http://www.fiff.be/">Festival de Namur</a> 2007) et Aujourd'hui (Étalon d'Or du Fespaco 2013), qui interrogent l'ailleurs, l'identit&eacute;, l'alt&eacute;rit&eacute;.</p>
        <p>Premier s&eacute;n&eacute;galais &agrave; remporter l’Étalon d'Or de Yennenga du Festival panafricain du cin&eacute;ma et de la t&eacute;l&eacute;vision de Ouagadougou (<a href="http://www.fespaco-bf.net/">FESPACO</a>, Burkina Faso), Alain Gomis accompagne la jeune g&eacute;n&eacute;ration de cin&eacute;astes s&eacute;n&eacute;galais au travers du dispositif <a href="http://cinekap.com/up-court-metrage/">Up Courts-m&eacute;trages</a> initi&eacute; par la soci&eacute;t&eacute; de production <a href="http://cinekap.com/">Cin&eacute;Kap</a>.<p>
    </div>
</div>