<div class="row"> 
	<h2>Ils en parlent</h2>
	<div class="center-justified">
		<blockquote>Merci encore pour votre sélection et ce moment de cinéma si intense et tellement approprié à nos élèves. 
		<cite><strong>Didier Bourse</strong>, professeur de lycée, La Réunion</cite>
		</blockquote>	


		<blockquote>On sentait qu'il y avait un fil conducteur entre les films, j'ai bien aimé. Je ne sais pas si vous saviez que cela aurait lieu à Nyamirambo mais c'était cool parce que quelque part d'autre à Kigali, ça n'aurait pas eu le même effet.
		<cite><strong>Amelia Umuhire</strong>, spectatrice du Rwanda Film Festival</cite>
		</blockquote>


		<blockquote>Après la projection, les spectateurs étaient unanimes à apprécier le programme proposé. La nuit du court est une activité très prisée par le public de Béjaïa et le fait d'apprécier cette partie de soirée dénote du choix judicieux des courts.
		<cite> <strong>Abdenour Hochiche</strong>, organisateur des Nuits du Court-Métrage de Béjaïa</cite>
		</blockquote>
	</div>
</div>