<div class="row"> 
    <a id="festivals"><h1>FESTIVALS </h1></a>
    <div class="header">
        Élabor&eacute; en partenariat avec les festivals fran&ccedil;ais <a href="http://generationcourt.com/">G&eacute;n&eacute;ration Court</a>, <a href="http://www.cinebanlieue.org/"> Cin&eacute;banlieue</a> et <a href="http://www.lespepitesducinema.com/">Les P&eacute;pites du Cin&eacute;ma</a>, le programme « Quartiers Lointains » a &eacute;t&eacute; pr&eacute;sent&eacute; en 2013 au <a href="http://rwandafilmfestival.net/">Rwanda Film Festival de Kigali</a> (juillet 2013); &agrave; la <a href="https://www.facebook.com/pages/Association-Project-heurts/254178147934570">10e Nuit du Court-M&eacute;trage de B&eacute;jaïa</a> (Alg&eacute;rie, août 2013), au <a href="http://www.festivalfilmafriqueiles.fr/">Festival international du Film d'Afrique et des îles </a>(La R&eacute;union, septembre 2013) ainsi qu'au festival <a href="http://www.imagetvie.org/"> Image et Vie</a> de Dakar (S&eacute;n&eacute;gal, juin 2014). 
    </div>

    <div class="col-md-6" id="MapPortView" ></div>

<!--  L'Afrique en films, Lumières NUmériques, Festival CinéSud, Cinémas indépendants parisiens, Bondy Blog et Afriscope (dans la Dropbox). -->
    <div class="col-md-6" id="logo-port-view"> 
        <div class="row">            
            <div class="col-md-6 imagewrapper france-logos">
                <a href="http://www.bondyblog.fr/" target="_blank"><img src="images/logos/france4.jpg"></a>
                <a href="http://www.festivalpleinsud.com/" target="_blank"><img src="images/logos/france6.jpg"></a>
                <a href="http://weloveafricanfilms.blogs.courrierinternational.com/" target="_blank"><img src="images/logos/france7.jpg"></a>
                <a href="http://www.clapnoir.org/" target="_blank"><img src="images/logos/france8.jpg"></a>
            </div>

            <div class="col-md-6 imagewrapper france-logos">
                <a href="http://www.lespepitesducinema.com/" target="_blank"><img src="images/logos/france1.jpg"></a>
                <a href="http://www.cinebanlieue.org/" target="_blank"><img src="images/logos/france2.jpg"></a>
                <a href="http://generationcourt.com/" target="_blank"><img src="images/logos/france3.jpg"></a>
                <a href="http://www.lumieres-numeriques.fr/" target="_blank"><img src="images/logos/france5.jpg"></a>
            </div>
        </div>

<!-- <div style="position: relative; left: 0; top: 0;">
  <img src="a.jpg" style="position: relative; top: 0; left: 0;"/>
  <img src="b.jpg" style="position: absolute; top: 30px; left: 70px;"/>
</div> -->

        <div class="other-logos">
            <a href="#" id="currentLogoLink" target="_blank"><img id="algerie" class="country-logo" src="images/logos/algerie.jpg" style="position: relative; top: 0; left: 0;"></a>
            <a href="#" id="currentLogoLink" target="_blank"><img id="rwanda" class="country-logo" src="images/logos/rwanda.jpg" style="position: relative; top: 0; left: 0;"></a>
            <a href="#" id="currentLogoLink" target="_blank"><img id="reunion" class="country-logo" src="images/logos/reunion.jpg" style="position: relative; top: 0; left: 0;"></a>
            <a href="#" id="currentLogoLink" target="_blank"><img id="senegal" class="country-logo" src="images/logos/senegal.jpg" style="position: relative; top: 0; left: 0;"></a>
        </div>

        <div id="picture-nav">

            <img  id="algerie1" class="picture-movies country-picture" src="images/photos-festival/algerie1.jpg">
            <img  id="algerie2" class="picture-movies country-picture" src="images/photos-festival/algerie2.jpg">
            <img  id="algerie3" class="picture-movies country-picture" src="images/photos-festival/algerie3.jpg">
            <img  id="algerie4" class="picture-movies country-picture" src="images/photos-festival/algerie4.jpg">
            <img  id="reunion1" class="picture-movies country-picture" src="images/photos-festival/reunion1.jpg">
            <img  id="reunion2" class="picture-movies country-picture" src="images/photos-festival/reunion2.jpg">
            <img  id="reunion3" class="picture-movies country-picture" src="images/photos-festival/reunion3.jpg">
            <img  id="reunion4" class="picture-movies country-picture" src="images/photos-festival/reunion4.jpg">
            <img  id="reunion5" class="picture-movies country-picture" src="images/photos-festival/reunion5.jpg">
            <img  id="rwanda1" class="picture-movies country-picture" src="images/photos-festival/rwanda1.jpg">
            <img  id="rwanda2" class="picture-movies country-picture" src="images/photos-festival/rwanda2.jpg">
            <img  id="rwanda3" class="picture-movies country-picture" src="images/photos-festival/rwanda3.jpg">
            <img  id="rwanda4" class="picture-movies country-picture" src="images/photos-festival/rwanda4.jpg">
            <img  id="senegal1" class="picture-movies country-picture" src="images/photos-festival/senegal1.jpg">
            <button id="nav-right" class="nav-button">Next</button>
            <button id="nav-left" class="nav-button">Previous</button>
        </div>
    </div>
</div>