<header id="header">
    <a id="balink" href="#ba"><img id="logo" src="images/logo_ql.png"></a>
    <div id="nav">
        <ul> 
            <li id="submenu"f><a id="s2link" href="#films">FILMS</a></li>
            <li><a id="festivalslink" href="#festivals">FESTIVALS</a></li>
            <li><a id="contactslink" href="#contacts">CONTACTS</a></li>
        </ul>
        <div id="under-nav">
            <ul>
                <li><a id="s1link" href="#s1"> Saison 1 </a></li>
                <li><a id="s2link" href="#s2"> Saison 2 </a></li>
            </ul>
        </div>
    </div>

</header>
