<header id="header">
    <a id="balink" href="#ba"><img id="logo" src="images/logo_ql.png"></a>
    <div id="nav">
        <ul> 
            <li id="submenu"f><a id="s1link" href="#films">FILMS</a></li>
            <li><a id="festivalslink" href="#festivals">FESTIVALS</a></li>
            <li><a id="contactslink" href="#contacts">CONTACTS</a></li>
        </ul>
        <div id="under-nav">
            <ul>
                <li>Saison 1</li>
                <li>Saison 2</li>
            </ul>
        </div>
    </div>

</header>
