<div id="our-product">
  <div id="functions">
    <div class="column">
      <h3 id="title-reliable"><a href="/{{language}}/tour.html#play">{{#i18n "index.product.play.title"}}{{/i18n}}</a></h3>
      {{#i18n "index.product.play.content"}}{{/i18n}}
      
      <h4 class="hide-show"><span></span>{{#i18n "index.product.details"}}{{/i18n}}</h4>
      <ul class="details">
        {{#i18n "index.product.play.items"}}{{/i18n}}
      </ul>
    </div>
    <div class="column">
      <h3 id="title-engage"><a href="/{{language}}/tour.html#engage">{{#i18n "index.product.engage.title"}}{{/i18n}}</a></h3>
      {{#i18n "index.product.engage.content"}}{{/i18n}}
      
      <h4 class="hide-show"><span></span>{{#i18n "index.product.details"}}{{/i18n}}</h4>
      <ul class="details">
        {{#i18n "index.product.engage.items"}}{{/i18n}}
      </ul>
    </div>
    <div class="column">
      <h3 id="title-manage"><a href="/{{language}}/tour.html#manage">{{#i18n "index.product.manage.title"}}{{/i18n}}</a></h3>
      {{#i18n "index.product.manage.content"}}{{/i18n}}
      
      <h4 class="hide-show"><span></span>{{#i18n "index.product.details"}}{{/i18n}}</h4>
      <ul class="details">
        {{#i18n "index.product.manage.items"}}{{/i18n}}
      </ul>
    </div>
  </div>

  <div id="keypoints">
    <h2>{{#i18n "index.product.keypoints.easy"}}{{/i18n}}</h2>
    <ul>
      <li id="keypoint-simple" class="column"><span></span>{{#i18n "index.product.keypoints.simple"}}{{/i18n}}</li>
      <li id="keypoint-access" class="column"><span></span>{{#i18n "index.product.keypoints.online"}}{{/i18n}}</li>
      <li id="keypoint-fast" class="column"><span></span>{{#i18n "index.product.keypoints.fast"}}{{/i18n}}</li>
    </ul>
    <div class="register">
        <a href="/{{language}}/signup.html">{{#i18n "index.product.keypoints.signup"}}{{/i18n}}</a>
        <span>{{#i18n "index.product.keypoints.noObligation"}}{{/i18n}}</span>
    </div>
  </div>
</div>
