<div id="our-company-wrapper">
  <div id="our-company">
    <div class="side">
      <img src="/static/images/our-company/picture-william.jpg" width="141" height="141" alt="{{#i18n "index.company.williamsPicture"}}{{/i18n}}" /><br />
      William<br />
      <em>{{#i18n "index.company.founder"}}{{/i18n}}</em>
    </div>
    <h2>{{#i18n "index.company.aboutUs"}}{{/i18n}}</h2>
    {{#i18n "index.company.text"}}{{/i18n}}
  </div>
  
  <ul id="ze-team">
    <li>
      <img src="/static/images/our-company/picture-antoine.jpg" alt="{{#i18n "index.company.antoinesPicture"}}{{/i18n}}" width="113" height="113" /><br />
      Antoine<br/>
      <em>{{#i18n "index.company.productDirector"}}{{/i18n}}</em>
    </li>
    <li>
      <img src="/static/images/our-company/picture-romain.jpg" alt="{{#i18n "index.company.romainsPicture"}}{{/i18n}}" width="113" height="113" /><br />
      Romain<br/>
      <em>{{#i18n "index.company.cto"}}{{/i18n}}</em>
    </li>
    <li>
      <img src="/static/images/our-company/picture-ugo.jpg" alt="{{#i18n "index.company.ugosPicture"}}{{/i18n}}" width="113" height="113" /><br />
      Ugo<br/>
      <em>{{#i18n "index.company.developer"}}{{/i18n}}</em>
    </li>
    <li>
      <img src="/static/images/our-company/picture-quentin.jpg" alt="{{#i18n "index.company.quentinsPicture"}}{{/i18n}}" width="113" height="113" /><br />
      Quentin<br/>
      <em>{{#i18n "index.company.support"}}{{/i18n}}</em>
    </li>
  </ul>
</div>
