<div id="banner">
  <ul id="banner-content">
    <li id="slide-marketing">
      <div>
        <h3>Dvidea One</h3>
        <p>
          {{#i18n "index.banner.marketing.content"}}{{/i18n}}
        </p>
        <div class="register">
          <a href="/{{language}}/signup.html">{{#i18n "index.banner.signup"}}{{/i18n}}</a>
          <span>{{#i18n "index.banner.noObligation"}}{{/i18n}}</span>
        </div>
      </div>
    </li>
    <li id="slide-first-network">
      <div>
        {{#i18n "index.banner.network.content"}}{{/i18n}}
      </div>
    </li>
    <li id="slide-auditorium-count">
      <div>
        <h3>Dvidea One</h3>
        <p>
          {{#i18n "index.banner.count.content"}}{{/i18n}}
        </p>
      </div>
    </li>
    <li id="slide-compatibility">
      <div>
        <p>
          {{#i18n "index.banner.compatibility.content"}}{{/i18n}}
        </p>
        <ul id="projector-list">
          <li><a href="http://www.doremilabs.com/" class="doremi">Doremi</a></li>
          <li><a href="http://www.dolby.com/us/en/professional/technology/cinema/listing.html" class="dolby">Dolby</a></li>
          <li><a href="http://www.gdc-tech.com/english/products_sx3000.php" class="gdc">GDC</a></li>
          <li><a href="http://qubecinema.com/" class="qube">Qube</a></li>
          <li><a href="http://pro.sony.com/bbsc/ssr/mkt-digitalcinema/" class="sony">Sony</a></li>
          <li><a href="http://www.barco.com/en/markets/digital-cinema" class="barco">Barco</a></li>
          <li><a href="http://www.christiedigital.com/en-us/cinema" class="christie">Christie</a></li>
          <li><a href="http://www.nec.com/en/global/solutions/digitalcinema/index.html" class="nec">Nec</a></li>
        </ul>
      </div>
    </li>
  </ul>
  <div id="banner-controls-wrapper">
    <div id="banner-controls">
      <button id="banner-next">{{#i18n "index.banner.next"}}{{/i18n}}</button>
      <button id="banner-previous">{{#i18n "index.banner.previous"}}{{/i18n}}</button>
    </div>
  </div>
</div>
