<div class="row"> 
	<a id="{{saison.id}}"><h1>{{saison.name}}</h1></a>

	<blockquote>
		{{saison.description}}
	</blockquote>

	<div>
		<div class="videoWrapper">
			<iframe src="{{saison.trailer-url}}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>

	{{>short-movie}}
</div>