<div class="row"> 
		<a id="{{saison2.id}}"><h1>{{saison2.name}}</h1></a>

		<blockquote>
			{{saison2.description}}
		</blockquote>

		<div>
			<div class="videoWrapper">
				<iframe src="{{saison2.trailer-url}}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</div>

		{{>short-movie-s2}}
</div>
