<div class="content-wrapper">
  <div class="content">
    <h2 id="play">{{#i18n "tour.titles.play"}}{{/i18n}}</h2>
    
    <div class="tour-item even" id="tour-tms">
      <h3>{{#i18n "tour.tms.title"}}{{/i18n}}</h3>
      <p>
        <strong>{{#i18n "tour.tms.strong"}}{{/i18n}}</strong><br />
        {{#i18n "tour.tms.content"}}{{/i18n}}   
      </p>
    </div>
  
    <div class="tour-item" id="tour-playlist-manager">
      <h3>{{#i18n "tour.playlist-manager.title"}}{{/i18n}}</h3>
      <span class="tag-new">{{#i18n "tour.tags.new"}}{{/i18n}}</span>
      <p>
        <strong>{{#i18n "tour.playlist-manager.strong"}}{{/i18n}}</strong><br />
        {{#i18n "tour.playlist-manager.content"}}{{/i18n}}   
      </p>
    </div>
    
    <div class="tour-item even" id="tour-ads">
      <h3>{{#i18n "tour.ads.title"}}{{/i18n}}</h3>
      <span class="tag-updated">{{#i18n "tour.tags.updated"}}{{/i18n}}</span>
      <p>
        <strong>{{#i18n "tour.ads.strong"}}{{/i18n}}</strong><br />
        {{#i18n "tour.ads.content"}}{{/i18n}}
      </p>
    </div>
    <div class="tour-item" id="tour-mobile-access">
      <h3>{{#i18n "tour.mobile-access.title"}}{{/i18n}}</h3>
      <p>
        <strong>{{#i18n "tour.mobile-access.strong"}}{{/i18n}}</strong><br />
        {{#i18n "tour.mobile-access.content"}}{{/i18n}}
      </p>
    </div>
    
    <a href="/{{language}}/signup.html" class="tour-signup">{{#i18n "tour.signup"}}{{/i18n}}</a>

    <h2 id="engage">{{#i18n "tour.titles.engage"}}{{/i18n}}</h2>
    <div class="tour-item even" id="tour-facebook">
      <h3>{{#i18n "tour.facebook.title"}}{{/i18n}}</h3>
      <p>
        <strong>{{#i18n "tour.facebook.strong"}}{{/i18n}}</strong><br />
        {{#i18n "tour.facebook.content"}}{{/i18n}}
      </p>
    </div>
    
    <div class="tour-item" id="tour-displays">
      <h3>{{#i18n "tour.displays.title"}}{{/i18n}}</h3>
      <p>
        <strong>{{#i18n "tour.displays.strong"}}{{/i18n}}</strong><br />
        {{#i18n "tour.displays.content"}}{{/i18n}}
      </p>
    </div>
    
    <div class="tour-item even" id="tour-twavox">
      <h3>{{#i18n "tour.twavox.title"}}{{/i18n}}</h3>
      <p>
        <strong>{{#i18n "tour.twavox.strong"}}{{/i18n}}</strong><br />
        {{#i18n "tour.twavox.content"}}{{/i18n}}
      </p>
    </div>
    
    <a href="/{{language}}/signup.html" class="tour-signup">{{#i18n "tour.signup"}}{{/i18n}}</a>
    
    <h2 id="manage">{{#i18n "tour.titles.manage"}}{{/i18n}}</h2>
    <div class="tour-item even" id="tour-automatic-kdm">
      <h3>{{#i18n "tour.automatic-kdm.title"}}{{/i18n}}</h3>
      <span class="tag-new">{{#i18n "tour.tags.new"}}{{/i18n}}</span>
      <p>
        <strong>{{#i18n "tour.automatic-kdm.strong"}}{{/i18n}}</strong><br />
        {{#i18n "tour.automatic-kdm.content"}}{{/i18n}}
      </p>
    </div>
    
    <div class="tour-item" id="tour-central-monitoring">
      <h3>{{#i18n "tour.central-monitoring.title"}}{{/i18n}}</h3>
      <p>
        <strong>{{#i18n "tour.central-monitoring.strong"}}{{/i18n}}</strong><br />
        {{#i18n "tour.central-monitoring.content"}}{{/i18n}}
      </p>
    </div>
    
    <div class="tour-item even" id="tour-booking-app">
      <h3>{{#i18n "tour.booking-app.title"}}{{/i18n}}</h3>
      <span class="tag-beta">{{#i18n "tour.tags.beta"}}{{/i18n}}</span>
      <p>
        <strong>{{#i18n "tour.booking-app.strong"}}{{/i18n}}</strong><br />
        {{#i18n "tour.booking-app.content"}}{{/i18n}}
      </p>
    </div>
    
    <div class="tour-item" id="tour-ticketing">
      <h3>{{#i18n "tour.ticketing.title"}}{{/i18n}}</h3>
      <p>
        <strong>{{#i18n "tour.ticketing.strong"}}{{/i18n}}</strong><br />
        {{#i18n "tour.ticketing.content"}}{{/i18n}}
      </p>
    </div>
    
    <div class="tour-item even" id="tour-logs">
      <h3>{{#i18n "tour.logs.title"}}{{/i18n}}</h3>
      <span class="tag-new">{{#i18n "tour.tags.new"}}{{/i18n}}</span>
      <p>
        <strong>{{#i18n "tour.logs.strong"}}{{/i18n}}</strong><br />
        {{#i18n "tour.logs.content"}}{{/i18n}}
      </p>
    </div>
    
    <a href="/{{language}}/signup.html" class="tour-signup">{{#i18n "tour.signup"}}{{/i18n}}</a>
  </div>
</div>
