<div id="twavox-banner-wrapper">
  <div id="twavox-banner">
    <h1>{{#i18n "twavox.title"}}{{/i18n}}</h1>
    <p>
      {{#i18n "twavox.bannerText"}}{{/i18n}}
    </p>
	<a href="mailto:sales@dvidea.com" id="twavox-call-to-action">{{#i18n "twavox.calltoaction"}}{{/i18n}}</a>
  </div>
</div>
  
<div id="twavox-wrapper" class="content-wrapper">
	<div class="content">
		<p id="twavox-smartphone">
			{{#i18n "twavox.app"}}{{/i18n}}
			<br />
			
			<a href="https://play.google.com/store/apps/details?id=com.esii.twavox" id="twavox-smartphone-googleplay">{{#i18n "twavox.gplay"}}{{/i18n}}</a>
			<a href="https://itunes.apple.com/fr/app/id709088445" id="twavox-smartphone-appstore">{{#i18n "twavox.appstore"}}{{/i18n}}</a>
			<span id="twavox-cineapps-link">CineApps</span>
		</p>
		<p id="twavox-hardware">
			{{#i18n "twavox.hardware"}}{{/i18n}}
			<a href="http://www.esii.com/" id="twavox-essii-link">ESII</a>
		</p>
		<p id="twavox-partner">
		</p>
	</div>
</div>
